* {/* box-sizing: border-box; */}

body, html {
    color: #6b6b6b;
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
}

.archive {
    margin-top: 5%;
    min-height: 320px;
    overflow: hidden;
    width: 100%;
}

.archive-carousel {
    padding: 0;
    position: relative;
}

.archive-image {
    position: relative;
    width: 72.5%;
}

.archive-image figcaption {
    background: none;
    color: #6b6b6b;
    font-family: Gill Sans Nova, sans-serif;
    left: 0;
    letter-spacing: 0;
    padding-top: 15px;
    position: absolute;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    width: 100%;
    z-index: 100;
}

.archive-image img {
    aspect-ratio: 4/3;
    display: block;
    height: 400px;
    object-fit: cover;
    object-fit: scale-down;
    width: 100%;
}

.button-max-width-911 {
    align-items: center;
    background: #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    color: #6b6b6b;
    display: flex;
    font-family: Inter, "Helvetica Neue", Helvetica, sans-serif;
    justify-content: center;
    opacity: 1;
    padding: 12px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.button-max-width-911 button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    height: 40px;
    left: 10px;
    outline: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.button-max-width-911 button .hamburger-icon {
    display: block;
    stroke-width: 1;
}

.button-max-width-911 button .X-icon {
    display: none;
    stroke-width: 1;
}

.button-max-width-911 button:hover .hamburger-icon line {
    stroke: rgba(107, 107, 107, 0.7);
}

.button-max-width-911 .menu-title {
    color: #6b6b6b;
    display: flex;
    font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    left: 80%;
    letter-spacing: 0.05em;
    position: absolute;
    text-transform: uppercase;
    top: 35%;
}

.button-max-width-911 h1 {
    font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 0.4em;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.carousel {
    min-height: 200px;
    width: 100%;
}

.carousel-cell {
    margin: 0;
    padding: 0;
    width: 100%;
}

.carousel-cell img {
    display: block;
    height: auto;
    object-fit: cover;
    width: 100%;
}

.carousel .flickity-button {
    background: none;
    border: none;
}

.carousel .flickity-button-icon {
    stroke-width: 1;
    fill: #6b6b6b;
}

.categories {
    margin: 20px;
    margin-top: 5%;
}

.categories article {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.categories-image {
    margin: 0;
    position: relative;
    width: 33%;
}

.categories-image figcaption {
    font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
    /* left: 0; */
    padding: 10px;
    /* position: absolute; */
    text-align: center;
    /* width: 100%; */
}

.categories-image img {
    display: block;
    object-fit: contain;
    width: 100%;
    max-height: 300px;
}

.cart-items {
    display: none;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 58%;
    transform: translateY(-50%);
}

.dropdown-menu {
    background: #f2f2f2;
    display: none;
    left: 6;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
}

.dropdown-menu-ul li {
    color: #535353;
    font-weight: 550;
    letter-spacing: 0.07em;
    list-style-type: none;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-top: 15px;
}

.dropdown-menu ul li a {
    color: #6b6b6b;
    font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
}

footer {
    background: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
}
footer p { margin: 10px 0; vertical-align: middle; }
footer p a { display: inline-block; width: auto; vertical-align: middle; margin-left: 5px; }
footer p a img { vertical-align: middle; }

footer ul { display: flex; align-items: center; justify-content: center; gap: 10px; margin: 10px 0; padding: 0; }
footer ul li { list-style: none; }
footer ul li a { display: block; }
footer ul li img { max-width: 25px; }
.flickity-viewport {
    overflow: visible !important;
}

.archive .flickity-viewport {
    overflow: visible !important;
    padding-bottom: 100px;
}

h2.section-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 2;
}

.icon-cart {
    cursor: pointer;
    display: none;
    position: absolute;
    right: 18px;
    stroke-width: 1.2;
    top: calc(50% + 2px);
    transform: translateY(-50%);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    width: 20px;
}

.icon-search {
    cursor: pointer;
    display: none;
    position: absolute;
    right: 60px;
    stroke-width: 1.2;
    top: calc(50% + 2px);
    transform: translateY(-50%);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.js-loading {
    opacity: 0;
    transition: opacity 0.3s ease-in;
    visibility: hidden;
}

.js-loading.loaded {
    opacity: 1;
    visibility: visible;
}

.postwar-logo-max-width-911 {
    background: none;
    display: block;
    height: 50px;
    margin: 0 auto;
    /* width: 100px; */
}

.postwar-logo-min-width-912 {
    background: none;
    display: none;
    height: 100px;
    margin: 0 auto;
    width: 200px;
}

.no-uppercase {
    text-transform: none;
}

.search-bar {
    background: #f2f2f2;
    border-bottom: 1px solid rgba(107, 107, 107, 0.2);
    display: none;
    left: 0;
    margin: 0 auto;
    padding-top: 15px;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1000;
}

.search-bar input {
    background: none;
    border: none;
    border-bottom: 1px solid #6b6b6b;
    color: #6b6b6b;
    display: none;
    font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    margin: 0 20px 20px 20px;
    outline: 0;
    padding: 10px 20px 5px 10px;
    width: calc(100% - 40px);
}

.search-bar .icon-search-confirm {
    bottom: 10px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 30px;
    stroke-width: 1.2;
    top: 55%;
    transform: translateY(-80%);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.search-input::placeholder {
    color: #6b6b6b;
    display: none;
    letter-spacing: 0.05em;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.eot);
    src: url(https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.eot?#iefix) format('embedded-opentype'),
         url(https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.woff2) format('woff2'),
         url(https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.woff) format('woff'),
         url(https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.ttf) format('truetype'),
         url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.svg#Helvetica Neue LT Std 25 Ultra Light') format('svg');
}

@media only screen and (min-width: 992px) {
    .button-max-width-911,
    .button-max-width-911 .menu-title,
    .button-max-width-911 button,
    .button-max-width-911 button span {
        display: none !important;
    }

    .postwar-logo-min-width-912 {
        display: block;
    }

}

@media screen and (min-width: 768px) and (max-width: 1100px) {
    .categories-image { width: 50%; }

}

@media screen and (max-width: 767px) {
    .categories-image { width: 100%; }
    .archive-image figcaption { text-align:center; }

}

@media (max-width: 640px) {
    /*.button-max-width-911,
    .button-max-width-911 .menu-title,
    .button-max-width-911 button,
    .button-max-width-911 button span {
        display: none !important;
    }

    .postwar-logo-min-width-912 {
        display: block;
    }*/
    .archive {
        min-height: 360px;
    }

    .archive-image img {
        height: 160px;
    }
    .archive-image figcaption {
        font-size: 12px !important;
    }

}