* {/* box-sizing: border-box; */}

body, html {
    color: #333;
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
}

.archive {
    margin-top: 5%;
    min-height: 320px;
    overflow: hidden;
    width: 100%;
}

.archive-carousel {
    padding: 0;
    position: relative;
}

.archive-image {
    position: relative;
    width: 72.5%;
}

.archive-image figcaption {
    background: none;
    color: #333;
    font-family: Futura PT, sans-serif;
    left: 0;
    letter-spacing: 0.05em;
    padding-top: 15px;
    position: absolute;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    width: 100%;
    z-index: 100;
}

.archive-image img {
    aspect-ratio: 4/3;
    display: block;
    height: 400px;
    object-fit: cover;
    object-fit: scale-down;
    width: 100%;
}

.button-max-width-911 {
    align-items: center;
    background: #f5ecec;
    border-bottom: 1px solid #f5ecec;
    color: #333;
    display: flex;
    font-family: Inter, "Helvetica Neue", Helvetica, sans-serif;
    justify-content: center;
    opacity: 1;
    padding: 12px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.button-max-width-911 h1 {
    font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 0.4em;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.carousel {
    min-height: 200px;
    width: 100%;
}

.carousel-cell {
    margin: 0;
    padding: 0;
    width: 100%;
}

.carousel-cell img {
    display: block;
    height: auto;
    object-fit: cover;
    width: 100%;
}

.carousel .flickity-button {
    background: none;
    border: none;
}

.carousel .flickity-button-icon {
    stroke-width: 1;
    fill: #333;
}

footer {
    background: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
}
footer p { margin: 10px 0; vertical-align: middle; }
footer p a { display: inline-block; width: auto; vertical-align: middle; margin-left: 5px; }
footer p a img { vertical-align: middle; }

footer ul { display: flex; align-items: center; justify-content: center; gap: 10px; margin: 10px 0; padding: 0; }
footer ul li { list-style: none; }
footer ul li a { display: block; }
footer ul li img { max-width: 25px; }
.flickity-viewport {
    overflow: visible !important;
}

.archive .flickity-viewport {
    overflow: visible !important;
    padding-bottom: 100px;
}

h2.section-title {
    font-family: 'Futura PT', sans-serif;
    font-size: 23px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 2;
}

.js-loading {
    opacity: 0;
    transition: opacity 0.3s ease-in;
    visibility: hidden;
}

.js-loading.loaded {
    opacity: 1;
    visibility: visible;
}

.postwar-logo-max-width-911 {
    background: none;
    display: block;
    height: 50px;
    margin: 0 auto;
    /* width: 100px; */
}

/* .postwar-logo-min-width-912 {
    background: none;
    display: none;
    height: 100px;
    margin: 0 auto;
    width: 200px;
} */

.no-uppercase {
    text-transform: none;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.eot);
    src: url(https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.eot?#iefix) format('embedded-opentype'),
         url(https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.woff2) format('woff2'),
         url(https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.woff) format('woff'),
         url(https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.ttf) format('truetype'),
         url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.svg#Helvetica Neue LT Std 25 Ultra Light') format('svg');
}

@media only screen and (min-width: 992px) {
    .button-max-width-911,
    .button-max-width-911 .menu-title,
    .button-max-width-911 button,
    .button-max-width-911 button span {
        display: none !important;
    }

    .postwar-logo-min-width-912 {
        display: block;
    }

}

@media screen and (min-width: 768px) and (max-width: 1100px) {
    .categories-image { width: 50%; }

}

@media screen and (max-width: 767px) {
    .categories-image { width: 100%; }
    .archive-image figcaption { text-align:center; }

}

@media (max-width: 640px) {
    /*.button-max-width-911,
    .button-max-width-911 .menu-title,
    .button-max-width-911 button,
    .button-max-width-911 button span {
        display: none !important;
    }

    .postwar-logo-min-width-912 {
        display: block;
    }*/
    .archive {
        min-height: 360px;
    }

    .archive-image img {
        height: 160px;
    }
    .archive-image figcaption {
        font-size: 12px !important;
    }

}

/* move table to archive Available Inventory, ---services:upholstery, refinishing, repairs, preservation work -- about us */ 
