
body, html {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #6b6b6b;
    overflow-x: hidden;
    max-width: 100%;
}

.button-max-width-911 {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background: #f2f2f2;
    color: #6b6b6b;
    font-family: Inter, "Helvetica Neue", Helvetica, sans-serif;
    opacity: 1;
    border-bottom: 1px solid #f2f2f2;
}

.button-max-width-911 button {
    display: flex;
    position: absolute;
    padding: 0;
    left: 10px;
    outline: 0;
    border: none;
    background: none;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (min-width: 912px) {
    .button-max-width-911 {
        display: none;
    }
}

.button-max-width-911 button {
    display: flex;
    position: absolute;
    padding: 0;
    left: 10px;
    outline: 0;
    border: none;
    background: none;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    height: 40px;
}

.button-max-width-911 button .hamburger-icon {
    display: block;
    stroke-width: 1;
}

.button-max-width-911 button .X-icon {
    display: none;
    stroke-width: 1;
}

.button-max-width-911 button:hover .hamburger-icon line {
    stroke: rgba(107, 107, 107, 0.7);
}

.button-max-width-911 .menu-title {
    display: flex;
    position: absolute;
    font-size: 13px;
    left: 80%;
    top: 35%;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
    color: #6b6b6b;
}

.button-max-width-911 h1 {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 0.4em;
    font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
}



.search-input::placeholder {
    color: #6b6b6b;
    letter-spacing: 0.05em;
}

.search-bar .icon-search-confirm {
    position: absolute;
    right: 30px;
    bottom: 10px;
    top: 55%;
    transform: translateY(-80%);
    cursor: pointer;
    stroke-width: 1.2;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    display: none;
}

.carousel {
    width: 100%;
    min-height: 200px;
}

.carousel-cell {
    width: 100%;
    margin: 0;
    padding: 0;
}

.carousel-cell img {
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (min-width: 912px) {
    .button-max-width-911,
    .button-max-width-911 .menu-title,
    .button-max-width-911 button,
    .button-max-width-911 button span {
        display: none !important;
    }
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.eot');
    src: url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.eot?#iefix') format('embedded-opentype'),
         url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.woff2') format('woff2'),
         url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.woff') format('woff'),
         url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.ttf') format('truetype'),
         url('https://db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e8f.svg#Helvetica Neue LT Std 25 Ultra Light') format('svg');
}

.icon-cart {
    position: absolute;
    display: none;
    right: 18px;
    top: calc(50% + 2px);
    width: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    stroke-width: 1.2;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.js-loading {
    opacity: 0;
    transition: opacity 0.3s ease-in;
    visibility: hidden;
}

.js-loading.loaded {
    opacity: 1;
    visibility: visible;
}

.cart-items {
    position: absolute;
    right: 10px;
    top: 58%;
    transform: translateY(-50%);
    font-size: 12px;
    display: none;
}

.carousel .flickity-button {
    background: none;
    border: none;
}

.carousel .flickity-button-icon {
    stroke-width: 1;
    fill: #6b6b6b;
}

h2.section-title {
    text-align: center;
    font-size: 21px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    z-index: 2;
}

.archive-carousel {
    padding: 0;
    position: relative;
}

.archive-image {
    width: 72.5%;
    position: relative;
}

.archive-image img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    display: block;
    object-fit: scale-down;
}

.archive-image figcaption {
    position: absolute;
    /* bottom: -60px; */
    left: 0;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0px;
    text-rendering: optimizeLegibility;
    background: none;
    color: #6b6b6b;
    padding-top: 15px;
    z-index: 100;
    font-family: Gill Sans Nova, sans-serif;
}

.no-uppercase {
    text-transform: none;
}

.logo {
    display: block;
    margin: 0 auto;
    height: 45px;
    width: 200px;
    background: none;
}

.flickity-viewport {
    overflow: visible !important;
}

.archive .flickity-viewport {
    overflow: visible !important;
    padding-bottom: 100px;
}

.archive {
    width: 100%;
    overflow: hidden;
    min-height: 200px;
    margin-top: 5%;
}

.categories {
    margin-top: 5%;
}

.categories article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0px;
}

.categories-image {
    width: 100%;
    margin: 0;
    position: relative;
}

.categories-image img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
}

.categories-image figcaption {
    position: absolute;
    bottom: -1.5em;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
}

main {
    margin-top: 4px;
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 6;
    width: 100%;
    background: #f2f2f2;
    z-index: 1000;
}

.dropdown-menu-ul li {
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    color: #535353;
    letter-spacing: 0.07em;
    font-weight: 550;
}

.dropdown-menu ul li a {
    color: #6b6b6b;
    text-decoration: none;
    font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
}


/* Styles currently not in use */
.icon-search {
    position: absolute;
    display: none;
    right: 60px;
    top: calc(50% + 2px);
    transform: translateY(-50%);
    cursor: pointer;
    stroke-width: 1.2;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.search-bar {
    display: none;
    position: absolute;
    top: 100%;
    padding-top: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #f2f2f2;
    z-index: 1000;
    border-bottom: 1px solid rgba(107, 107, 107, 0.2);
}

.search-bar input {
    width: calc(100% - 40px);
    padding: 10px 20px 5px 10px;
    margin: 0 20px 20px 20px;
    border: none;
    border-bottom: 1px solid #6b6b6b;
    background: none;
    font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    color: #6b6b6b;
    outline: none;
    display: none;
}
